<div class="hintergrund">
  <div class="felder">
    <p>Size :</p>
    <p>Text :</p>
    <p>Format:</p>
    <p>Backgroundcolor:</p>
    <p>Color:</p>
  </div>
  <div class="eingabeFelder">
    <p>
      <input type="text" maxlength="4" size="4" [(ngModel)]="size" />
    </p>
    <p>
      <input type="text" value="" [(ngModel)]="text" />
    </p>
    <p>
      <button (click)="setFormat('jpeg')">JPEG</button>
      <button (click)="setFormat('png')">PNG</button>
      <button (click)="setFormat('gif')">GIF</button>
      <button (click)="setFormat('svg')">SVG</button>
    </p>
    <p>
      <input type="text" [(ngModel)]="bgcolor" />
    </p>
    <p>
      <input type="text" [(ngModel)]="color" />
    </p>
    <div class="generateButton">
      <button (click)="buttonGenerate()">Generate!</button>
      {{ message }}
    </div>
    <div class="downloadButton">
      <button *ngIf="isGenerated" (click)="downloadQRCode()">Download</button>
    </div>
  </div>

  <div class="QRCode">
    <img [src]="imageUrl" />
  </div>

  <p></p>
</div>
