.header {
  color: gray;
  position: relative;
  top: 43px;
  left: 47px;
}
.container {
  border: 1px solid gray;
  max-width: 450px;
  margin: 45px;
}
.row {
  display: flex;
  max-width: 400px;
  margin: 5px;
  padding: 10px;
}
.col {
  width: 80%;
}
.errorMessage {
  border: 1px solid gray;
  background-color: lightgray;
  padding: 10px;
  margin-top: 15px;
  width: 135px;
  margin: 45px;
}
.message {
  border: 1px solid gray;
  width: 280px;
  margin-left: 44px;
  padding: 10px;
  background-color: lightgray;
}
.QRCode {
  position: fixed;
  left: 550px;
  top: 90px;
}

.buttonClicked {
  background-color: lightgray;
  margin: 2px;
}

.button {
  margin: 2px;
}
